.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background-color: white;
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  width: 60vw;
  height: 75vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modalTitle {
  font-size: 2rem;
  font-weight: 700;
  color: #2c1f15;
  margin-bottom: 1rem;
}

.imageContainer {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.generatedImage {
width: 300px;
height: 300px;
  border-radius: 1rem;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  object-fit: contain;
}

.buttonContainer {
  position: absolute;
  top: 90%;
  left: 65%;
}

