.contentCard{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.482);
}

.contentWrapper{
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    display: flex;
    height: 100%;
    position: relative;
    padding-bottom: 2rem;
}

.characterImage{
    width: 330px;
    height: 400px;
    position: absolute;
    top : 17%;
}

.buttonContainer {
    position: absolute;
    bottom: 4rem;
    right: 13rem;
    display: flex;
    gap: 1rem;
}

.button {
    font-family: var(--font-cookierun);
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 24px;
    cursor: pointer;
    border: none;
}

.buttonPrimary {
    background: #4CAF50;
    color: white;
}