.container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.contentWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 90%;
    height: 90%;
    padding: 1rem 2rem;
    border-radius: 2rem;
    background-color: white;
}

.spanWrapper {
    background-color: #BCCAFF;
    padding: 0.5rem 6rem;
    border-radius: 1rem;
}

.spanWrapper span {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}

.borderWrapper {
    /* border: 1px solid gray; */
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    width: 90%;
    padding: 1rem;
    border-radius: 1rem;
}

.aiAssistantImage {
    width: 300px;
    height: auto;
}

.inputSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 0.5rem;
    border: 10px solid #A9C1FF;
    border-radius: 3rem;
}

.label {
    font-size: 1.2rem;
    font-weight: 500;
    color: #333;
}

.inputContainer {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.input {
    padding: 0.75rem 1rem;
    font-size: 1rem;
    border: 2px solid white;
    border-radius: 8px;
    width: 300px;
    outline: none;
    font-family: var(--font-cookierun);
}

.submitButton {
    padding: 0.75rem 2rem;
    font-size: 1rem;
    background-color: #A9C1FF;;
    color: white;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    transition: background-color 0.2s;
    font-family: var(--font-cookierun);
}

.submitButton:hover {
    background-color: #87a8fa;
}