.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinnerContainer.fullscreen {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: rgba(255, 255, 255, 0.9);
}

.spinnerContainer.small,
.spinnerContainer.medium,
.spinnerContainer.large {
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.spinner {
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #064C5C;
}

.spinner.smallSpinner {
  width: 30px;
  height: 30px;
  border: 3px solid #f3f3f3;
  border-top: 3px solid #064C5C;
}

.spinner.mediumSpinner {
  width: 40px;
  height: 40px;
  border: 3px solid #f3f3f3;
  border-top: 3px solid #064C5C;
}

.spinner.largeSpinner {
  width: 60px;
  height: 60px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #064C5C;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

