.modal {
  background-color: white;
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  width: 800px;
  height: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  position: relative;
}

.content {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-between; */
  gap: 2rem;
}

.title{
    background-color: #A9E0FF;
    padding: 1rem;
    border-radius: 2rem;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    width: 50%;
}

.conceptContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  position: absolute;
  top: 17%;
}

.conceptTitle {
  font-size: 1rem;
  font-weight: 700;
  color: #000;
  background-color: #B2C8D0;
  padding: 5px;
  border-radius: 12px;
}


.conceptDescription {
  font-size: 1.2rem;
  color: #000;
}
.speechBubbleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  z-index: 1;

    left: 1%;
    position: absolute;
}

.characterContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  z-index: 2;
    left: 60%;
    position: absolute;
}

.character {
  width: auto;
  height: auto;
  max-width: 300px;
  max-height: 400px;
  object-fit: contain;
}

