.container {
    background-color: white;
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    width: 800px;
    height: 650px;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.title{
    background-color: #A9C1FF;
    padding: 1rem;
    border-radius: 2rem;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    width: 50%;
}

.content{
    display: flex;
    gap: 15px;
}

.imgContainer{
    width: 270px;
    height: 460px;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.chattingContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.img{
    width: 200px;
    height: 200px;
}

.imgWithShadow{
    filter: drop-shadow(0px 3px 40px rgba(58, 181, 219, 0.6)) drop-shadow(0 0 40px rgba(58, 181, 219, 0.4)) drop-shadow(0 0 50px rgba(58, 181, 219, 0.2));
}

.imgLarge{
    width: 250px;
    height: 250px;
}

.imgText{
    margin-top: 100px;
    font-size: small;
    font-weight: 700;
    text-align: center;
}

.springs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15%;
    height: 400px;
    position: absolute;
    top: 25%;
    left: 38.5%;
}

.avatarOptions{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 420px;
}

.avatarOption{
    width: 35px;
    height: 80px;
    background-color: #A9C1FF;
    font-size: 1.2rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.avatarOptionDisabled{
    cursor: not-allowed;
    opacity: 0.6;
}

.avatarOptionText{
    writing-mode: vertical-rl;
    text-orientation: upright;
}