.modal {
    background-color: white;
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    width: 800px;
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    position: relative;
  }

  .title{
      background-color: #A9C1FF;
      padding: 1rem;
      border-radius: 2rem;
      font-size: 1.5rem;
      font-weight: 700;
      text-align: center;
      width: 50%;
    }

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* gap: 1rem; */
  position: relative;
}

.sideCharacterImage{
    width: 210px;
    position: absolute;
    bottom: 0;
    left: 80%;
}

.characterImage {
    filter: drop-shadow(0px 3px 60px rgba(58, 181, 219, 0.6)) drop-shadow(0 0 60px rgba(58, 181, 219, 0.4)) drop-shadow(0 0 70px rgba(58, 181, 219, 0.2));
}

.confirmButtonContainer{
    position: absolute;
    bottom: 0;
    right: 10%;
}
