.selectSunsetContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--button-gradient);
  border-radius: 6rem;
  padding: 1rem 2rem 1rem 3rem;
}

.container {
  display: flex;
  flex-direction: row;
  width: 500px;
  gap: 0.75rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: #2e1605;
}

.option {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  /* cursor: pointer; */
  padding: 0.5rem 0;
  transition: opacity 0.2s;
}

.option:hover {
  opacity: 0.8;
}

.arrow {
  font-size: 0.9rem;
  color: #2e1605;
}

.text {
  position: relative;
  white-space: pre-line;
}


.option:hover .text::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -2px;
  height: 2px;
  /* background-color: #2e1605; */
}

