.container {
  display: flex;
  flex-direction: column;
  width: 25vw;
  gap: 0.75rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: #2e1605;
  background: var(--button-gradient);
  padding: 1rem 3rem;
  border-radius: 6rem;
}

.option {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  padding: 0.5rem 0;
  transition: opacity 0.2s;
}

.option:hover {
  opacity: 0.8;
}

.arrow {
  font-size: 0.9rem;
  color: #2e1605;
}

.text {
  position: relative;
}

.selected .text {
    text-decoration: underline;
    text-decoration-thickness: 23px;
    text-underline-offset: -13px;
    text-decoration-color: #e8bd15;
}

.selected .text::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -2px;
  height: 2px;
  background-color: #2e1605;
}

